<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title">
    <title>Welcome to Shoe Unlocker</title>
  </head>
  <body>
    <div class="container">
      <%=yield%>
    </div>

  </body>
</html>
